# Controle de versão e configurações locais
.git/
.gitignore
.vscode/
.idea/

# Binários e artefatos de compilações locais
http-server-projeto-korp
*.exe
*.out
*.test

# Arquivos de infraestrutura (não devem ir para a imagem da API)
Dockerfile
docker-compose.yml
README.md
infra/
ansible/